label {
    cursor: pointer;
    transition: all 250ms;
}

.container {
    position: absolute;
    margin: -280px -150px;
    padding: 50px;
}

.container .modal-button {
    position: absolute;
    padding: 25px;
    width: 60px;
    font-size: 30px;
    color: #b0bde6;
    text-align: center;
    line-height: 2.5;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: all 250ms;
}

.container .modal-button span {
    font-size: 11.5px;
}

.container .modal-button:hover, .container .modal-button:focus {
    color: #3e4e9f;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.container .modal-content, .container .modal-background {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}

.container .modal-background {
    transition: height 250ms;
}

.container .modal-content {
    transform: scale(0);
    transition: transform 500ms;
}

.container #modal {
    display: none;
}

.container #modal:checked ~ .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
    transition: height 250ms;
}

.container #modal:checked ~ .modal-content {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 35vw;
    height: auto;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    cursor: auto;
    transform: scale(1);
    transition: transform 500ms;
}

.container #modal:checked ~ .modal-content .modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 25px;
    color: #3e4e9f;
    transition: color 250ms, transform 500ms;
}

.container #modal:checked ~ .modal-content .modal-close:hover, .container #modal:checked ~ .modal-content .modal-close:focus {
    color: #3e4e9f;
    transform: rotate(270deg);
}

.container #modal:checked ~ .modal-content p {
    position: relative;
    margin: 0 0 25px 0;
    font-size: 15px;
    line-height: 1.5;
}

.container #modal:checked ~ .modal-content .modal-content-button {
    position: relative;
    float: right;
    margin: 0;
    padding: 10px 20px;
    color: white;
    font-weight: 100;
    border-radius: 5px;
    background-color: #b0bde6;
}

.container #modal:checked ~ .modal-content .modal-content-button:hover, .container #modal:checked ~ .modal-content .modal-content-button:focus {
  background-color: #3e4e9f;
}